*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
p,a{
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px 30px 0px;
}
#wrapper{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.menu{
    float: right;
    margin-top: 20px;
    display: block;
}
.menu ul li{

    list-style-type: none;
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    margin: 10px;
    color: black;
}

.single-element{
    float: left;
    width: 48%;
    height: auto;
    margin-top: 80px;
}
.single-element img{
    width: 100%;
}
.second-element{
    margin-top: 100px;
    margin-left: 33px;
    height: 400px;
    overflow: hidden;
}
.first-heading{
    font-size: 60px;
    font-weight: bold;
    color:#363958;
}
.second-heading{
    font-size: 60px;
    font-weight: bold;
    color:#FF8367;
}
.hire-me-link{
    text-decoration: none;
    background: linear-gradient(#F15F60, #F37563);
    color:white;
    padding: 13px 40px;
    border-radius: 6px;
}
.third-heading{
    font-weight: bold;
    color:#42427d;
    font-size: 40px;
}
.download-link{
    text-decoration: none;
    background: linear-gradient(#F15F60, #F37563);
    color:white;
    padding: 13px 40px;
    border-radius: 6px;
    display: inline-block;

}
.last-part{
    padding: 50px 0px 50px 0px;
    background-color: #e4e0e0;
    overflow: hidden;
    display: inline-block;

}
.last-heading{
    margin: 50px auto;
    display: block;
    text-align: center;
    font-size: 35px;
    color: #363958;

}
.project-heading{
    color: tomato;
}
.last-column{
    float: left;
    width: 25%;
    height: auto;
    margin: 2%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.last-column{
    box-shadow: 10px 10px 15px gray;
}
.column-heading{
    margin: 10px 0px;
    color: #363958;
}
.last-column img{
    width: 100%;
}
.two-part{
    float: left;
}
.three-part-link{
    text-decoration: none;
    float: right;
}
.one-bg{
    
    background-image: url(images/extra-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.social-part{
    margin-top: -5px;
    background-color: #f5eff5;
}
.social-part p#social-text{
    text-align: center;
    font-size: 20px;
    color: teal;
    margin: 0px 0px 0px 0px;
    padding: 35px;

}
.social-heading{
    text-align: center;
    font-size: 30px;
    color: teal;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
=======
    text-transform: lower-case;
>>>>>>> 20ee69d869f37a5b15f2049856192612b57e7815
}
.social-link img{
    width: 32px;
    height: 32px;
    padding: 5px;
}
.social-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.footer-part{
    text-align: center;
    background-color: thistle;
<<<<<<< HEAD
    padding: 10px 10px;
}
=======
    padding: 10px;
}
>>>>>>> 20ee69d869f37a5b15f2049856192612b57e7815
